@view-transition {
  navigation: auto; /* enabled! */
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

::view-transition-old(album) {
  animation-name: scaleOut;
}

::view-transition-new(album) {
  animation-name: scaleIn;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  height: 100dvh;
}

.TOP-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.TOP-container img {
  height: 100%;
  width: 100%;
}

#page1 .TOP-container a {
  position: relative;
  display: block;
  z-index: 0;
}

#page1 .TOP-container a > img {
  width: 588px;
}


#page1 .TOP-container .hidden-images-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: flex;
  width: 600px;
  justify-content: center;
}

#page1 .TOP-container .hidden-images-container img {
  width: 240px;
}

.Josh {
  view-transition-name: josh;
}

.Tyler {
  view-transition-name: tyler;
}

#page3 {
  display: flex;
  height: 100dvh;
}

#page3 .TOP-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: initial;
  transform: initial;
  margin: auto;
}

#page3 .TOP-container div {
  display: flex;
  gap: 350px;
}

#page1 .TOP-container .Josh {
  object-view-box: inset(0% 49% 1% 10%);
}

#page3 .TOP-container .Josh {
  object-view-box: inset(2% 50% 15% 16%);
}

#page1 .TOP-container .Tyler {
  object-view-box: inset(0% 8% 1% 51%);
}

#page3 .TOP-container .Tyler {
  object-view-box: inset(2% 21% 15% 45%);
}

#page3 .TOP-container img {
  width: 450px;
  height: auto;
}

.album {
  view-transition-name: album;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: relative;
}

.full {
  margin: 0 auto;
  width: 80%;
  display: flex;
}

.playlist {
  color: white;
  width: 100%;
}

.playlist ul {
  list-style-type: none;
  padding: 40px;
}

.playlist ul li {
  font-size: 30px;
  padding: 10px;
}

.playlist .header {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  background-color: rgb(35, 62, 92, 0.8);
  padding: 40px;
}

.playlist .header .left {
  padding: 20px;
}

.playlist .header .right {
  padding: 20px;
}

.playlist .header h1,
.playlist .header h2 {
  margin: 0;
}

.playlist .header h1 {
  font-size: 52px;
}

.playlist .header h2 {
  font-size: 28px;
  font-style: italic;
}

.playlist .header .right div {
  font-size: 16px;
  padding: 10px 0;
}

.player {
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.play {
  background-size: 70px 70px;
  background-color: rgb(23, 232, 110);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.like {
  background-size: 40px 40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.playerButton {
  transition: scale 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerButton img {
  width: 40px;
  height: 40px;
}

.playerButton:hover {
  scale: 1.1;
}

.header,
.previewContainer {
  view-transition-name: albumContainer;
}

.previewContainer {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: gray;
}